* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #8D6E63; /* Terracota */
  --color-secondary: #3E2723; /* Marrom Escuro */
  --color-accent: #E53935; /* Vermelho */
  --color-background: #F5F5F5; /* Cinza Claro */
  --color-text: #3E2723; /* Marrom Escuro */
  --color-text-light: #D7CCC8; /* Bege */
  --color-gold: #FFD700; /* Dourado */
}

/* Habilita uma rolagem suave ao navegar para âncoras na página */
html {
  scroll-behavior: smooth;
}


/* Muda a fonte */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

/* Altera as cores dos links */
a {
  color: var(--color-accent);
}

header {
  background-color: var(--color-secondary);
  color: var(--color-text-light);
  padding: 1.5rem 0;
}

/* Estilizando os links de navegação da página */
nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline;
  margin: 0 1.5rem;
}

nav a {
  text-decoration: none;
  font-weight: 700;
}

/* CLASSE PRINCIPAL */
/* Formata a pagina incial do site */
.hero {
  position: relative;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,2) 100%
  ); /* Cor de fundo semi-transparente para melhorar a legibilidade do texto */
  color:var(--color-text-light);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden; /* Para garantir que o vídeo não ultrapasse os limites da seção */
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Coloca o vídeo atrás do conteúdo */
}

.hero h1 {
  color: var(--color-text-light);
  font-size: 4rem;
  font-weight: 100;
  position: relative;
  z-index: 1; /* Garante que o título fique acima do vídeo */
}

.hero p {
  color: var(--color-text-light);
  font-size: 1.5rem;
  margin-top: 1.5rem;
  position: relative;
  z-index: 1; /* Garante que o parágrafo fique acima do vídeo */
}

/* Estiliza o botão para o cardápio */
.cta-button {
  background-color: var(--color-accent);
  border-radius: .5rem;
  color: var(--color-text-light);
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 1.5rem;
  padding: .75rem 1.5rem;
  text-decoration: none;
  z-index: 1; /* Garante que o botão fique acima do vídeo */
}

/* CARDAPIO */
section:not(#home) {
  color:var(--color-text);
  padding: 4rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.25rem;
}

/* Organiza os itens do cardapio */
.menu-list {
  color: var(--color-text);
  list-style: none;
}

.menu-list>li {
  background-color: var(--color-background);
  border-radius: .5rem;
  box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.5);
  display: inline-block;
  height: 28rem;
  margin: 1.5rem;
  text-align: left;
  vertical-align: top;
  width: 28rem;
}

/* Ajustando a imagem */
.menu-list img {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  object-fit: cover;
  max-height: 60%;
  width: 100%;
}

.menu-list h3,
.menu-list p {
  padding: 1rem 1.25rem 0;
}

/* sESSÕES SOBRE, CONTATO, ENDEREÇO E O RODAPÉ DO SITE */
#about {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%),
    url("img/hamburguer.jpg");
  background-size: cover;
  background-position: center ;
  color: var(--color-white);
}

address {
  margin: 2rem 0;
}

address>* {
  display: inline-block;
  margin: 1.5rem;
  text-align: left;
}

footer {
  background-color: var(--color-secondary);
  color: var(--color-text-light);
  padding: 2rem;
  text-align: center;
}